[submodule "task2/lib/forge-std"]
	path = task2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "task2/lib/openzeppelin-contracts"]
	path = task2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "task3/lib/forge-std"]
	path = task3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
